@font-face {
    font-family: "red_october";
    src: url('./assets/fonts/red-october/Red\ October.ttf');
}

@font-face {
    font-family: "fyodor";
    src: url("./assets/fonts/fyodor/fyodor/web/Fyodor-BoldOblique.woff");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "red_october", "Poppins", sans-serif;
}

header nav{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
}

header nav button{
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    padding: 5px;    
}

header nav button:hover{
    color: #b17c24;
}

.button-actived{
    color: #b17c24;
    border-bottom: 2px solid #b17c24;
}

.fundo{
    opacity: 0.8;
    background: url(./assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2rem 0;
}

.content{
    font-family: "fyodor";
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}